.footer-container{
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F5EF;
}

.footer-copyright-text{
    margin-left: 1.25rem;
    font-family: 'PhilosopherRegular';
}
.footer-social-container{
    width: 5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.social-icon{
    width: 1.87rem;
    height: 1.875rem;
}