<div class="footer-container">
    <p class="footer-copyright-text">© {{currentYear()}} Johnnie Hicks. All rights reserved.</p>

    <div class="footer-social-container">
        <a target="_blank" href="https://github.com/Johnnie007"> <img class="social-icon" src="assets/images/github.svg" alt="Github Icon linked to profile"/></a>
        <a target="_blank" href="https://www.linkedin.com/in/johnnie-h-a3990320a/"><img class="social-icon" src="assets/images/linkedIn.svg" alt="LinkedIn Icon linke to profile"/></a>
    </div>
</div>
