<!-- 
 - Make component reusable?
 - Backend for future books
-->
<div class="books-container">
    <div class="title-header">
        <h1>{{Book.Title}}</h1>
    </div>

    <div class="book-section">
        <div class="book-cover">
            <img src="" alt="">
        </div>
        <div class="book-details-container">

            <h3 class="book-title">Test</h3>
            <h3>Childern's Book</h3>
            <p>
                An essay collection examingin how designer can cultivate clarity amid constant 
                distraction - drawing on Swiss modernism, Zen, and twenty years of practice.
            </p>
            <button>Order Now</button>
        </div>
    </div>
</div>
