<div class="navigation-container">

    <div class="name-container">
        <p class="name">Johnnie Hicks</p>
    </div>

    <nav class="navigation-links-container">
        <ul class="navigation-link">
            <li><a class="link" routerLinkActive="active-link" routerLink="/" [routerLinkActiveOptions]="{exact:true}">About</a></li>
            <li><a class="link" routerLinkActive="active-link" routerLink="/projects">Projects</a></li>
            <li><a class="link" routerLinkActive="active-link" routerLink="/books">Books</a></li>
            <li><a class="link" routerLinkActive="active-link" routerLink="/shop">Shop</a></li>
        </ul>
    </nav>

</div>