.navigation-container{
    display: flex;
    justify-content: space-between;
    background-color: #F8F5EF;
    border-bottom: 1px solid #DDDAD4;
}

.name-container{
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-family: 'PhilosopherRegular';
    font-size: 1.5rem
}

.navigation-links-container{
    width: 31.25rem;
    margin-right: 3.75rem;
}

.navigation-link{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    font-family: 'PhilosopherRegular';
    color: #7B7B7B;
    padding-bottom: 5px;
}


.active-link{
    color: #1C1917;
    font-family: 'PhilosopherBold';
}