<div class="maintenance-container">
    <div class="maintenance-body">    
        <div class="circle">
            <div class="ripple-bg"></div>
            <div class="ripple-bg-2"></div>
            <svg class="spin-animation" lucideWrench [size]="48" color="orange" [strokeWidth]="1" title="Home"></svg>
        </div>
        <h4 class="maintenance-header">UNDER MAINTENANCE</h4>
        <h2 class="maintenance-text">We'll be back soon.</h2>
        <p class="maintenance-subtext">We're create a shopping page. Please check back later</p>
    </div>
</div>
