<div class="about-page-container">
    <div class="about-page-header">
        <h3 class="name">Johnnie Hicks - Florida, United States</h3>
    </div>
    <div class="page-title">
        <h1 class="title-text">Praise God,<br><span class="title-texture">Thank Jesus</span> </h1>
    </div>
    <div class="separator"></div>
    <div class="page-details">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.</p>
    </div>
    <div class="page-buttons">
        <a class="projects-btn" href="/projects">View Projects <svg class="about-project-icon" lucideArrowUpRight [size]="18" color="#F2EDE5" [strokeWidth]="1" title="Projects"></svg></a>
        <a class="book-btn" href="/books"><svg class="about-book-icon" lucideBookOpen [size]="18" color="#1C1917" [strokeWidth]="1" title="Projects"></svg> Latest Book</a>
    </div>
</div>