<div class="about-page-container">
    <div class="about-page-header">
        <h3 class="name">Johnnie Hicks - Florida, United States</h3>
    </div>
    <div class="page-title">
        <h1 class="title-text">Builder of Ideas From<br><span class="title-texture"> Concepts to Reality</span> </h1>
    </div>
    <div class="separator"></div>
    <div class="page-details">
        <p>Self-taught Software Engineer with 4 years of professional experience. Driven by a quiet curiosity for what can be built, with a deep appreciation for life and God.</p>
        <p class="subtext-details">Currently working on tangible and software projects that will be available everywhere.</p>
    </div>
    <div class="page-buttons">
        <a class="projects-btn" routerLink="/projects">View Projects <svg class="about-project-icon" lucideArrowUpRight [size]="18" color="#F2EDE5" [strokeWidth]="1" title="Projects"></svg></a>
        <a class="book-btn" routerLink="/books"><svg class="about-book-icon" lucideBookOpen [size]="18" color="#1C1917" [strokeWidth]="1" title="Projects"></svg> Latest Book</a>
    </div>
</div>