@if (book) {
  <div class="book-details-page-container">
    <div class="header">
      <h3 class="book-details-page-header">Writings <br><span class="texture">Books</span></h3>
    </div>

    <div class="book-container">
      <div class="book-image-container">
        <img class="book-cover" [src]="book.cover" alt="">
        <div class="availability-container">
          @if (book.published.isPublished) {
            <div class="available">
              <p>Available Now</p>
            </div>
          } @else {
            <div class="forthcoming">
              <p>Forthcoming</p>
            </div>
          }
        </div>
      </div>

      <div class="book-details-container">
        <div class="book-title">
          <h1>{{ book.title }}</h1>
        </div>

        <div class="book-details">
          <p>{{ book.details }}</p>
          <p>My inspiration to write this series came from reading books to my son. He would often ask me to make up a bedtime story to tell him. So, instead of coming up with a different tale every night, I decided to write a narrative that I could build upon each night, eventually creating this book. Later, I decided to start publishing these books—because why not? A PDF version will be free and available to anyone who wants to read it, and a physical copy will be available as a paid alternative.</p>

          @if (book.published.isPublished) {
            <div class="purchase-btn-container">
              <a class="btn-dark" href="">Order {{ book.price }}</a>
              <!-- TODO: PDF Version needs to open a separate window of PDF Version -->
              <a class="btn-outline" href="">PDF Version</a>
            </div>
          } @else {
            <p class="btn-outline-release">Release Date: {{ book.published.publishedDate | date:'MM-dd-yyyy' }}</p>
          }
        </div>
      </div>
    </div>
  </div>
}
