<div class="projects-table-wrapper">
  @if(projects$ | async; as projects){
    <div class="header">
        <h3 class="project-name">Engineering <br><span class="texture">Projects</span></h3>
    </div>

  <div class="table-scroll">
    <table class="projects-table">
      <thead>
        <tr class="table-head-row">
          <th>Project</th>
          <th>Category</th>
          <th>Stack</th>
          <th>Year</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
        @for (project of projects; track project.id){
        <tr class="table-row"
          (click)="navigateToProject(project.link)"
          (keydown.enter)="navigateToProject(project.link)"
          role="button"
          tabindex="0"
          [attr.aria-label]="'View ' + project.name + ' project'"
          >
          <td class="col-project">
            <div class="project-cell">
              <div class="thumb">
                <img src="assets/images/test.png" alt="" />
              </div>
              <span class="project-title">{{project.name}}</span>
            </div>
          </td>
          <td class="col-category">{{project.category}}</td>
          <td class="col-stack">
            <div class="tags">
              @for(tech of project.stack; track $index){
                <span class="tag">{{tech}}</span>
              }
            </div>
          </td>
          <td class="col-year">{{project.yearDeployed | date: 'yyyy' }}</td>
          <td class="col-arrow">
              <svg class="arrow-icon" lucideExternalLink [size]="20" color="#7A7166" [strokeWidth]="1" title="Home"></svg>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
}
</div>